*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    max-height: 80%;
    max-width: 80%;
    aspect-ratio: 16 / 9;
}