*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.score{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4e4c4c;
    color: #fff
}

.score-symbol{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-symbol > img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.score-symbol > span{
    height: 20%;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container{
    display: flex;
    position: relative;
}

.main-canvas{
    background-color: #056905;
    max-height: 100%;
    order: 3;
}

.win-canvas{
    max-height: 100%;
    display: none;
    position: absolute;
    top: 40%;
    order: 3;
}

@media(orientation: portrait){

    .score:nth-child(3){
        order: 3;
    }

    .score{
        justify-content: space-around;
    }

    .score-symbol{
        height: 50%;
        width: 100%;
    }

    .score-symbol > img{
        height: 50%;
        width: 80%;
    }

    .score-symbol > span{
        font-size: 25px;
    }
}