*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    max-height: 100%;
    max-width: 100%;
    background-color: #056905;
    aspect-ratio: 1 / 5;
}

.history-btn{
    position: absolute;
    height: 50px;
    width: 50px;
    left: calc(50% - 25px);
    bottom: 0;
    background-color: #111;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.history{
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
}

.history.active{
    display: flex;
}

.history-options{
    width: 30%;
    color: #fff;
    height: 100%;
    position: relative;
    background-color: #545252;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.history-cancel{
    position: absolute;
    top: 15px;
    left: 25px;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.buttons{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    height: 35px;
}

.current-img-label{
    font-size: 20px;
    letter-spacing: 2px;
}

.range-btn{
    width: 35%;
    height: 100%;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    background-color: #383636;
    transition: 0.2s ease;
}

.range-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.range-btn:active{
    background-color: #fff;
    color: #111;
}

.history-screen{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #056905;
}

.history-screen > img{
    height: 60%;
    width: 80%;
}
